<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: black; margin: 5%; padding: 0"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="title">
    <h1>Contacts</h1>
    <p>Tous mes contacts scannés</p>
  </div>


  <ion-list *ngIf="user_array && user_array.length != 0">
    <ion-card class="contact" *ngFor="let user of user_array">
      <ion-card-content>
        {{ user.prenom }} {{ user.nom }}
      </ion-card-content>
    </ion-card>
  </ion-list>

  <p *ngIf="!user_array">Aucun contact scanné</p>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="scan()">
    <ion-fab-button>
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
